@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;500&family=Poppins:wght@100;300;400;500&display=swap");

* {
  font-family: "Poppins",  sans-serif;
}

.bg-first {
  background: url("./assets/images/comaconimg1.jpg") right no-repeat;
}

.bg-second {
  background: url("./assets/images/comaconimg2.jpg") right no-repeat;
}

.bg-third {
  background: url("./assets/images/comaconimg3.jpg") right no-repeat;
}
